@model CRUD.Employee

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Do you really want to delete this record? </h3>
<div>
    <h3>Employee Info</h3>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(m => m.EmployeeId)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.EmployeeName)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.Email)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.Country)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.Age)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Age)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>